/*******************************************************************************
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/
body {
	font-family: $body-font;
	margin: 0;
	font-size: 0.9em;
}
h1 {
	color: $green;
	font-family: $header-font;
	font-weight: normal;
	&.site-name {
		border: none!important;
	}
}
h2 {
	color: $green;
	font-family: $header-font;
	font-weight: normal;
}
h3 {
	color: $green;
	font-family: $header-font;
	font-weight: normal;
}
a {
	color: $green;
	text-decoration: none;
}
.button {
	background: $green;
	border-radius: 0.3em;
	padding: 0.5em 0.8em;
	cursor: pointer;
	color: $white;
	a {
		color: $white;
	}
	&:hover {
		background: lighten($green, 10%);
	}
}
/***************************************
	Forms
****************************************/
input {
	border: 1px solid $green;
	border-radius: 0.4em;
	padding: 0.4em;
}
input[type="submit"] {
	@extend .button;
	font-family: $body-font;
	border: none;
	margin: 0.5em;
}
textarea {
	@extend input;
}
.grippie {
	display: none!important;
}
label {
	padding-bottom: 0.3em;
}
@include at-breakpoint($tab) {
	input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
		width: 300px;
	}
	textarea {
		width: 400px!important;
	}	
}