/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
@font-face {
	font-family: 'Apex New Book';
	src: url('../fonts/apexnewbookwebfont.eot');
	src: local('apexnewbookwebfont'), url('../fonts/apexnewbookwebfont.woff') format('woff'), url('../fonts/apexnewbookwebfont.ttf') format('truetype');
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import "susy";

$tab: 44em 12;
$desk: 70em 16;

/* Colours */
$green: #063c29;
$white: #FFFFFF;
$light-grey: #dddddd;
$hover-green: #BDD8AF;

/* Fonts */
$header-font: 'Apex New Book', sans-serif;
$body-font: 'Open Sans', sans-serif;